@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

// css reset end


// code start
.product img{
  max-width: 30%;
}

.aboutus img{
  max-width: 50%;
}

.search_field{
  background-color: #e0b94c;
  input{
    background-color: #fff;
  }
}

@media screen and(min-width:768px) {
  header .carousel-inner{
    height: 100vh;
  }

  header .carousel-caption{
    bottom: 36%;
  }
}